div.view-page-patient-section-Vaccins div.vaccin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    margin: .25rem;
    padding: 0 .5rem;
    background: #aaa;
}

div.view-page-patient-section-Vaccins .vaccin.good,
div.view-page-patient-section-Vaccins .good {
    background: #7f7;
}

div.view-page-patient-section-Vaccins .vaccin.warning,
div.view-page-patient-section-Vaccins .warning {
    background: #fe7;
}

div.view-page-patient-section-Vaccins .vaccin.bad,
div.view-page-patient-section-Vaccins .bad {
    background: #f77;
    color: #fff;
}

div.view-page-patient-section-Vaccins div.vaccin > div.date {
    font-size: 80%;
    opacity: 0.6;
}

div.view-page-patient-section-Vaccins > div.vaccins {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(3, 1fr);
    grid-auto-flow: column;
    grid-gap: .5rem;
}

div.view-page-patient-section-Vaccins li {
    margin: .5rem 0;
}

div.view-page-patient-section-Vaccins li > span {
    margin: 0.125rem;
    padding: 0.125rem 0.25rem;
    border-radius: 100vw;
}
