div.view-page-ImportPatient {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.view-page-ImportPatient p {
    font-size: 150%;
}

div.view-page-ImportPatient > div.progress {
    padding: 10vw;
    width: 100%;
    opacity: 1;
}

div.view-page-ImportPatient > div.progress.hide {
    pointer-events: none;
    filter: blur(4px);
    transition: filter .5s;
}

div.view-page-ImportPatient > .back-button {
    margin-right: 2rem;
}

div.view-page-ImportPatient div.patient-desc {
    margin: 1rem 0;
}

div.view-page-ImportPatient big {
    font-size: 200%;
    font-weight: bolder;
}
