div.view-page-Patients {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

div.view-page-Patients >div.patients-form {
    max-width: 400px;
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
}
