div.view-page-Patients {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

div.view-page-Patients>header {
    flex: 0 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.view-page-Patients>section {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

div.view-page-Patients>section>div.patients-form {
    max-width: 400px;
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
}
