div.view-page-Patients {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

div.view-page-Patients>header {
    flex: 0 0 3rem;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.view-page-Patients>section {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

div.view-page-Patients>section div.patients-form {
    max-width: 40vw;
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
}

div.view-page-Patients > section div.patients-list {
    height: calc(100vh - 4rem);
    max-height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

div.view-page-Patients > section h1 {
    flex: 0 0 auto;
}

div.view-page-Patients > section .list {
    flex: 1 1 auto;
    overflow-y: auto;
    min-width: 50vw;
    max-height: calc(100vh - 7rem);
}

div.view-page-Patients > section div.tfw-view-list.list > div.space {
  background-size    : 100% 32px;
  background-image   : url("./list-item.png");
}

div.view-page-Patients>section div.remote-server {
    text-align: center;
    opacity: 0.5;
}

div.view-page-Patients>section p {
    transition: opacity 1s;
    opacity: 0.7;
}

div.view-page-Patients>section p.hide {
    transition: opacity 1s;
    opacity: 0;
}
