div.view-PatientForm {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 40vw;
}

div.view-PatientForm > * {
    flex: 0 1 auto;
    min-width: calc(20vw - 2rem);
}
