div.view-PatientForm {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
}

div.view-PatientForm > * {
    flex: 0 1 auto;
    min-width: 160px;
}
